.flex-nav{
  display: -webkit-flex;
  display: flex;
  background-color: lightgrey;

}

.flex-nav a {
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    margin: 25px;
}
.flex-nav a:hover {
    background-color: #ddd;
    color: black;
}
.flex-nav img{
  margin-right: 920px;
}
