* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    background-image: url('SimonFrontPage/FrontPage/background.jpg');
    background-attachment: fixed;
}

header {
    background-color: #d9d9d9;
    display: flex;
    height: 50px;
    flex: 0 0 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav {
    display: flex;
    flex: 0 0 40%;
    justify-content: space-around;
    align-items: center;
}

.logo {
    margin-left: 50px;
}

nav a {
    font-family: arial;
    color: black;
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    background-color: #bfbfbf;
    text-decoration: none;
    border-radius: 5px;
    height: 40px;
    width: 33%;
}

nav a:hover {
    background-color: black;
    color: white;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login h2 {
    text-align: center;
    color: white;
    font-size: 200%;
}

.login input {
    display: block;
    width: 320px;
    height: 40px;
    padding: 10px;
    font-size: 85%;
    color: black;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.login #login-btn {
    width: 100%;
    font-size: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}

.login #login-btn:hover {
    background-color: black;
    color: white;
}

#Change {
    font-size: 100%;
    color: red;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: black;
}

.features {
    font-size: 100%;
    text-align: left;
    list-style: none;
}