    .main-js-content h3 {
        font-size: 175%;
        text-align: center;
    }

    .main-js-content {
        padding-left: 17px;
        text-align: center;
        margin: 17px;
    }

    .main-js-content textarea {
        resize: none;
    }

    .main-content th {
        text-align: center;
        font-size: 175%;
        padding-bottom: 15px;
    }

    .main-content td {
        font-size: 100%;
        text-align: center;
    }

    .main-content table {
        border-spacing: 17px 0px;
        text-align: center;
        margin: 0 auto;
    }

    .box {
        margin: 10px;
        padding-top: 15px;
        padding-left: 20%;
        padding-right: 20%;
    }