#hidestart {
  display: none;
  width: 100%;
}

#content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

/*header {
	height: 100px;
	padding: 0 15px;
}*/

#mainbar, #sidebar, #middle {
  background-color: rgba(153, 153, 153, 0.8);
  width: auto;
  min-width: 365px;
  min-height: 162px;
  margin: 3%;
  box-shadow: 7px 7px 20px;
  border-radius: 25px;
}

.title, .droplinks, .classlinks {
  padding-left: 5%;
  font-size: 1em;
  cursor: pointer;
}

.title {
  text-shadow: 0.5px 0.5px #474446;
  color: #b12f00;
  font-size: 20px;
}

.droplinks, .classlinks {
  text-decoration: underline;
}
.classcontent {
  display: none;
}
#sidbar {
  order: 3;
}
#middle {
  order: 2;
}
#mainbar {
  order: 3;
}

/*
#mainbar {
  /*width: 340px;
  /*float: left;

}

#middle {
  /*width: 344px;*/

/* Account for margins + border values
/*  float: left;
  padding: 5px 15px;
  margin: 0px 5px 5px 5px;
}

#sidebar {
  /*width: 340px;
  padding: 5px 15px;
  /*float: left;
}*/

div.tab-container {
  order: 2;
}

div.tab {
  overflow: hidden;
  background-color: #696969;
}

/* Style the buttons inside the tab */

div.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */

div.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */

div.tab button.active {
  background-color: #ccc;
}
div.classcontent a.active {
  color: darkblue;
}


/* Style the tab content */

.column-layout .tabcontent {
  background-color: rgba(153, 153, 153, 0.8);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.dropcontent {
  display: none;
}

/*#exercise, #test, #plan, #material, #teacher{
  background-color: white;
}*/

table {
  display: table;
  width: 100% !important;
  border-collapse: collapse;
  height: auto;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

ul a {
  color: black;
}

ul a:hover {
  color: orangered;
}

.pr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pr-exercise button, #art-exercise button, 
#ps-exercise button, #pr-exercisefe19 button, 
#ps-exercisefe19lia button, #art-exercisefe19a button{
  width: 237px;
}

#pr-exercise button, #pr-exercise .task, 
#art-exercise button, #art-exercise .task,
#ps-exercise button, #ps-exercise .task, 
#pr-exercisefe19 button, #pr-exercisefe19 .task,
#ps-exercisefe19lia button, #ps-exercisefe19lia .task, 
#art-exercisefe19a button, #art-exercisefe19a .task {
  margin-top: 5px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/

@media (min-width:1300px) {
  #content {
    flex-wrap: nowrap;
  }
  #mainbar, #middle, #sidebar {
    width: 30%;
  }
}
