
body{
  background-image: url(../pictures/background.jpg);
}
.logo{
    width: 200px;
    height: 200px;
}
.flexcontainer{
  max-width: 200px;
  line-height: 1.65;
  display: flex;
  padding-right: 0;
  align-items: flex-start;
  flex-wrap: wrap;

}

.tab{
  flex: 3;
}
/***********************************SIDE MENU**********************************/

.vertical-menu {
    width: 200px; /* Set a width if you like */
    margin-top: 10px;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #bfbfbf; /* Add a green color to the "active/current" link */
    color: white;
}


/***********************************TAB MENU**********************************/

/* Style the buttons inside the tab */
.center-container{
  max-width: 400px;
  max-height: 300px;
}
.center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: #f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
