@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body { 
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

/* STRUCTURE */

#pagewrap {
	padding: 30px;
	width: 1160px;
	margin: 20px auto;
}
/*header {
	height: 100px;
	padding: 0 15px;
}*/
#content {
	width: 340px;
	float: left;
	padding: 5px 15px;
}

#middle {
	width: 344px; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}

#sidebar {
	width: 340px;
	padding: 5px 15px;
	float: left;
}
footer {
	clear: both;
	padding: 0 15px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 94%;
	}
	#content {
		width: 41%;
		padding: 1% 4%;
	}
	#middle {
		width: 41%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}
	
	#sidebar {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}

	header, footer {
		padding: 1% 4%;
	}
}

/* for 700px or less */
@media screen and (max-width: 600px) {

	#content {
		width: auto;
		float: none;
	}
	
	#middle {
		width: auto;
		float: none;
		margin-left: 0px;
	}
	
	#sidebar {
		width: auto;
		float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
	#sidebar {
		display: none;
	}

}

#middle
{
	background: #f8f8f8;
}

#content {
	background: #f8f8f8;
}
#sidebar {
	background: #f0efef;
}
header, #content, #middle, #sidebar {
	margin-bottom: 5px;
}

/*#pagewrap, header, #content, #middle, #sidebar, footer {
	border: solid 1px #ccc;
}

*/
.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

/* make ALL links (main and submenu) have padding and background color */


/* add hover behaviour */



/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.main-nav li:hover .submenu {
  display: block;
  max-height: 300px;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a {
  background-color: #999;
  justify-content: center;
  display: flex;
  font-size: 1em;
}

/* hover behaviour for links inside .submenu */
.submenu a:hover {
  background-color: #666;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}





div.tab-container{
    order: 2;


}

div.tab {
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;


}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */
.column-layout .tabcontent {
    background-color: white;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.dropcontent {
  display: none;
}

/*#exercise, #test, #plan, #material, #teacher{
  background-color: white;
}*/
table{
  width: 100%;
  border-collapse: collapse;
}

th, td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;

}

 ul
{
    list-style: none;

}



ul li
{
    font-size: 24px;
}





ul a:hover
{
    color:blue;
}


/************************************    TOPBAR        **********************************/








body {
	
    background: url("../Pictures/background.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    font-family: 'arial';
	line-height: 1.6;
	margin: 0;
 
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}



h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



{
    color: blue;
}
.logo {
    
	margin: 0;
    font-size: 2em;
    font-style:bold;
}

.main-nav {
	margin-top: 5px;
	position: relative;
}
.logo a,
.main-nav a {
	padding: 10px 20px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #424548;
	font-size: 1.3em;
}

.main-nav a:hover {
	color: #9b9ea0;
}


.header {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	border: 1px solid #655f5f;
	background-color: rgba(245, 233, 233, 0.69);

}


/*-----------------------------------------------------------------
  Media querys
------------------------------------------------------------------ */


@media  (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}

    .header {
		flex-direction: column;
		align-items: center;
    	}

}

@media  (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}


