body{
  background-image: url(../pictures/background.jpg);
  height: 100%;
  width: 100%;
  justify-content: space-between;
}
.content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.column-layout{
    order: 2;
    width: 90%;
    background-color: #FFF;
    margin: 20px auto;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
}
.main-column{
    flex: 4;
    order: 1;
    margin: 20px;
}
/***********************************DROPDOWN**********************************/
.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */


/* add hover behaviour */



/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.main-nav li:hover .submenu {
  display: block;
  max-height: 300px;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a {
  background-color: #999;
  justify-content: flex-end;
  display: flex;
}

/* hover behaviour for links inside .submenu */
.submenu a:hover {
  background-color: #666;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

/***********************************SIDE MENU**********************************/


/***********************************TAB MENU**********************************/
div.tab-container{
    order: 2;


}

div.tab {
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;


}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */
.column-layout .tabcontent {
    background-color: white;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.dropcontent {
  display: none;
}

/*#exercise, #test, #plan, #material, #teacher{
  background-color: white;
}*/
table{
  width: 100%;
  border-collapse: collapse;
}

th, td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;

}

/**************************************media******************************/
@media (min-width: 900px) {
  .content {
    display: flex;
  }
  .column-layout {
    width: 60%;
    margin-top: 0;
  }
}
