* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url('../Pictures/background.jpg');
    background-attachment: fixed;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login h2 {
    text-align: center;
    color: white;
    font-size: 200%;
}

.login input {
    display: block;
    width: 320px;
    height: 40px;
    padding: 10px;
    font-size: 85%;
    color: black;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.login #login-btn {
    width: 100%;
    font-size: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}

.login #login-btn:hover {
    background-color: black;
    color: white;
}

#Change {
    font-size: 100%;
    color: red;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: black;
}
