
body {
	
    background: url("../Pictures/background.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    font-family: 'arial';
	line-height: 1.6;
	margin: 0;
 
}

   .maincontent {
    max-width: 80%;
    background-color: white;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
    box-sizing: border-box;
    display: flex;
}

    .content {
    display: flex;
    flex-direction: column;
    align-items: center;    
}
